.Posts {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 512px;
  gap: var(--gap-m);

  .postsContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    position: relative;

    .scrollContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--gap-m);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      right: 0;
    }
  }

  .loading {
    display: flex;
    flex-direction: row-reverse;

    .loadingButton {
      font-size: 16px;
      width: 96px;
    }

    .postsLoaded {
      font-weight: var(--font-weight-semi-bold);
    }
  }
}
