.Posts {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 512px;
  gap: var(--gap-m);

  .postsAndLoading {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .scrollContainer {
      max-height: 400px;
      display: flex;
      flex-direction: column;
      gap: var(--gap-m);
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }

  .loadingButton {
    cursor: pointer;
    align-self: flex-end;
  }
}
