.Posts {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 512px;
  gap: var(--gap-m);

  .postsAndLoading {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .scrollContainer {
      /* TODO: figure out how to make this responseive */
      max-height: 512px;
      display: flex;
      flex-direction: column;
      gap: var(--gap-m);
    }
  }

  .loadingButton {
    cursor: pointer;
    align-self: flex-end;
  }
}
