.SignUp {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & label {
      font-weight: var(--font-weight-semi-bold);
      font-size: 24px;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .inputInfo {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;
      font-size: 12px;
    }

    .signUpBtn {
      display: flex;
      align-self: flex-end;
    }
  }

  .loginText {
    margin-top: var(--margin-xxl);
    font-size: 16px;
    font-weight: var(--font-weight-semi-bold);

    .textBtn {
      cursor: pointer;
      font-style: italic;
      text-decoration: underline;
    }
  }
}
