.Header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-m);

  .iconAndNavBtns {
    display: flex;
    flex-direction: row;
    gap: var(--gap-m);

    .icon {
      padding: 12px;
    }

    .navBtns {
      display: flex;
      gap: var(--gap-m);
      align-items: center;
    }
  }

  .loginBtn {
    margin-right: var(--margin-m);
  }

  .userBtn {
    margin-right: var(--margin-m);
  }
}
