.Header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-m);

  .iconAndNavBtns {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: var(--gap-m);

    .icon {
      padding: 12px;
    }

    .headerButtons {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navBtns {
        display: flex;
        gap: var(--gap-m);
      }

      .loginBtn {
        margin-right: var(--margin-m);
      }

      .loggedInBtns {
        display: flex;
        flex-direction: row;
        gap: var(--gap-m);
        margin-right: var(--margin-m);
      }
    }
  }
}

@media (max-width: 600px) {
  .Header {
    .iconAndNavBtns {
      .headerButtons {
        justify-content: initial;
        .navBtns {
          flex: 1;
          justify-content: space-evenly;
        }
        .loggedInBtns {
          flex: 1;
          justify-content: space-evenly;
        }
      }
    }
  }
}
