.WriteComment {
  .commentForm {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);

    .commentInput {
      flex: 1;
      font-size: 20px;
      font-family: "Amatic SC";
    }

    .postButton {
      align-self: flex-end;
    }

    .loginText {
      font-size: 20px;
    }
  }
}
