.Post {
  width: 512px;
  padding: var(--padding-m);
  margin-bottom: var(--margin-xxl);
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
  border: solid #716d61;
  border-top-width: 12px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-radius: 4px;
  background-color: #fefae1;
  box-shadow: 0 0 5px 5px rgba(113, 109, 97, 0.5);

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .metaInfo {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .title {
        flex: 1;
        font-size: 24px;
        font-weight: 600;
        font-family: "Amatic SC";
      }

      .createdDate {
        font-size: 24px;
      }

      .userName {
        font-size: 24px;
      }
    }
  }

  .postScrollContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: hidden;

    & .postBody {
      flex: 1;
      display: flex;
      /* max-height: 256px; */
      font-size: 24px;
      font-weight: 600;
      font-family: "Amatic SC";
    }
  }

  .comments {
    display: flex;
    flex-direction: column;
  }
}

.postFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .editAndDeleteBtns {
    align-self: flex-end;
    display: flex;
    gap: var(--gap-m);
  }
}

@media (max-width: 600px) {
  .Post {
    width: 256px;
  }
}
