.Login {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .loginModal {
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* box-shadow: 0 0 10px gray; */
    /* border-radius: 8px; */

    .loginForm {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: var(--gap-l);
      padding: 8px;

      & label {
        font-size: 24px;
        font-weight: var(--font-weight-semi-bold);
      }

      & input {
        display: flex;
        flex: 1;
      }

      .loginButton {
        flex: 1;
        align-self: flex-end;
      }

      .signupText {
        margin-top: var(--margin-xxl);
        font-size: 16px;
        font-weight: var(--font-weight-semi-bold);
      }
    }
  }

  .textBtn {
    cursor: pointer;
    font-style: italic;
    text-decoration: underline;
  }
}
