body {
  margin: 0;
  /* font-family: " Amatic SC"; */
  font-family: "Amatic SC", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --default-font-size: 14px;

  --primary-font-color: black;
  --secondary-font-color: gray;

  --primary-bg-color: #fefae1;

  --primary-border-color: #716d61;

  --font-size-default: 14px;
  --font-size-M: 16px;
  --font-size-L: 20px;
  --font-size-XL: 24px;

  --font-weight-default: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 800;

  --gap-s: 4px;
  --gap-m: 8px;
  --gap-l: 16px;
  --gap-xl: 20px;
  --gap-xxl: 24px;

  --padding-s: 4px;
  --padding-m: 8px;
  --padding-l: 16px;
  --padding-xl: 20px;
  --padding-xxl: 24px;

  --margin-s: 4px;
  --margin-m: 8px;
  --margin-l: 16px;
  --margin-xl: 20px;
  --margin-xxl: 24px;

  .flexColCenterHorizontally {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flexRowCenterAlignVertically {
    display: flex;
    align-items: center;
    gap: var(--gap-m);
  }

  .primaryButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    font-size: 24px;
    font-family: "Amatic SC";
    background-color: var(--primary-bg-color);
    border: 1px solid var(--primary-border-color);
    border-radius: 4px;
  }

  .iconButton {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

  .verticalScroll {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
}
